server {
    listen {{ stub_status_settings.listen|default("127.0.0.1:80", true) }};
    server_name {{ stub_status_settings.server_name|default("127.0.0.1", true) }};

    location {{ stub_status_settings.location|default("/nginx_status", true) }} {
        stub_status;
    }
}