upstream {{ item.name }} {
        {% if item.method is defined -%}
        {{ item.method }};
        {% endif -%}
        {% for server in item.servers -%}
        server {{ server }};
        {% endfor -%}
}

server {
{% for listen in item.listen %}
        listen     {{ listen }};
{% endfor %}
{% if item.proxy_ssl is defined and (item.proxy_ssl or item.proxy_ssl.lower() == on) %}
        proxy_ssl on; 
{% endif %}
{% if item.proxy_ssl_certificate is defined and item.proxy_ssl_certificate_key is defined %}
        proxy_ssl_certificate       {{ item.proxy_ssl_certificate }};
        proxy_ssl_certificate_key   {{ item.proxy_ssl_certificate_key }};
{% endif %}
{% if item.proxy_ssl_ciphers is defined %}
        proxy_ssl_ciphers       {{ item.proxy_ssl_ciphers }};
{% endif %}
{% if item.ssl_certificate is defined and item.ssl_certificate_key is defined %}
        ssl_certificate       {{ item.ssl_certificate }};
        ssl_certificate_key   {{ item.ssl_certificate_key }};
{% endif %}
        proxy_pass {{ item.name}};
}