 server {
    # Server configuration
    listen {{ item.listen }};
    {% if item.server_name is defined -%}
    server_name {% for server_name in item.server_name %}{{ server_name }}{% if not loop.last %} {% endif %}{% endfor %};
    {% endif %}
    
    # Locations
    {% for location in item.locations -%}
    location {{ location.location }} {
        {% for param in location.params|default([], true) %}
        {{ param }}
        {% endfor %}
    }
    {% endfor %}
}